body {
    margin: 300px auto;
    font-family: 'Lato';
    font-weight: 300;
    margin-top: 0;
    overflow: hidden;
}

h1 {
    text-align: center;
    margin-bottom: 200px;
}

svg {
    overflow: visible !important;
}